<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="#"><button type="button" class="btn btn-primary" (click)="generateReport()">Generate Report</button></a></li>
      <li><a><div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statuses: {{ selectedStatus }}
    <span class="caret"></span></button>
    <ul   class="dropdown-menu">
      <li *ngFor="let status of statusNames, index as i;" (click)="selectStatus($event)"><a href="#">{{ status }}</a></li>
    </ul>
  </div>
      </a></li>
          <li><a href="#"><div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Project Names : {{ selectedProject}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li  *ngFor="let projectName of projectList, index as i;" (click)="selectProject($event)"><a href="#">{{ projectName }}</a></li >
    </ul>

  </div></a></li>
        <li><a href="#"><div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Users Names : {{ selectedUser}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li  *ngFor="let userName of userList, index as i;" (click)="selectUser($event)"><a href="#">{{ userName }}</a></li >
    </ul>

  </div></a></li>


        <li><a href="#">
            Start Date
            <div class="datepicker-container">
                <ng-datepicker [(ngModel)]="start_date" [options]="options"></ng-datepicker>
            </div>
        </a></li>
        <li><a href="#">
            End Date
            <div class="datepicker-container">
        <ng-datepicker [(ngModel)]="end_date" [options]="options"></ng-datepicker>
      </div>
        </a></li>

    </ul>
  </div>
</nav>

<div class="container"></div>

