.Not started{background-color:#0000ff;}
.Completed{background-color:#eb9316;}
.Approved{background-color:#ab47bc;}
.
.In_progress{background-color:#8fcafe;}
.vis-timeline{visibility: visible;}
.vis-bottom{visibility: visible;}

